*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
}
main{
  background-color: gray;
  width: 40%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}
.header-title{
  margin-left: auto;
}
.div-input-label{
  display:flex;
  flex-direction: column;
  width: 60%;
  margin-inline: auto;
}
.div-input-label input{
  height: 40px;
}